<div class="content-heading">
   <!-- START Language list-->
   <div class="pull-right">
      
   </div>
   <!-- END Language list    -->
   Dashboard
   <small data-localize="dashboard.WELCOME"></small>
</div>
