<h4 >Edit Vendor Category</h4>
<%= form_for @vendorcategory do |f| %>
  <div class="form-field">
    <%= f.label :Name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit "Edit", :class => 'btn btn-lg btn-primary'%>
  </div>
<% end %>
