<div class="unwrap">
   <div class="pt-xl pv-xl" style="background-image: url(<%= asset_path 'back/header_1.png' %>)" class="bg-cover">
      <div class="p-xl text-center text-white">
      		<br>
      		<div class="font_officinasansstd">INCRESE FBA SALES</div>
      		<br>
      		<div class="font_ictifficinabook">eCommerce buyer assistant tools</div>
            <br>
         	<a href="#learn_part" type="button" class="mb-sm btn mb-sm btn btn-info btn-outline" style="font-size:13px">Learn More</a>
            <%= link_to  new_skynet_path do %>
               <button type="button" class="mb-sm btn btn-info font_officinasansstd" style="font-size:13px; font-weight:normal">Get Started</button>
            <% end %>
         	
      </div>
   </div>
   <div class="container container-md">
      <div class="row">
         <div class="col-md-6 ">
            <div class="p-xl text-center font_officinasansstd" style="color:#00FFFF; font-size:40px">
               <div >Looking to</div>
               <div >buy inventory to</div>
               <div >resell on Amazon?</div>
               <div style="color:#000000; font-size:30px">Here is the plan ...</div>
            </div>
         </div>
         <div class="col-md-6 p-xl text-center  ">
            <img  src="<%= asset_path 'back/home_mag.png' %>" style="max-width:200px">
         </div>
      </div>
   	
   </div>
   <div id="learn_part" class="p-xl text-center font_officiansansstdbold" style="background-color:#1d2A3A">
      <div class="container container-md">
         <div class="row row-flex row-flex-wrap" style="font-size:14px;" >
            <div class="col-md-4 text-center widget" style="margin-bottom:5px">
               <div class="row row-table row-flush">
                  <div class="col-md-3  text-center">
                     <div class="bg-info" style="padding:5px">
                        <em class="fa fa-fw fa-file-text fa-3x"></em>
                     </div>
                  </div>
                  <div class="col-md-8">
                     <div class="panel-body text-center mt0" style="color:#FFFFFF;">
                        OPEN DISTRIBUTOR ACCOUNT...
                     </div>
                  </div>
                  <div class="col-md-1">
                     <em class="fa fa-arrow-right" style="color:red;"></em>
                  </div>
               </div>
            </div>
            <div class="col-md-4 text-center widget" style="margin-bottom:5px">
               <div class="row row-table row-flush">
                  <div class="col-md-3  text-center">
                     <div class="bg-info" style="padding:5px">
                        <em class="fa fa-fw fa-shopping-cart fa-3x"></em>
                     </div>
                  </div>
                  <div class="col-md-8">
                     <div class="panel-body text-center mt0" style="color:#FFFFFF;">
                        6000SKUS* ... WOW THAT's A LOT OF INVENTORY TO REVIEW ISN"T IT?
                     </div>
                  </div>
                  <div class="col-md-1">
                     <em class="fa fa-arrow-right" style="color:red;"></em>
                  </div>
               </div>
            </div>
            <div class="col-md-4 text-center widget" style="margin-bottom:5px">
               <div class="row row-table row-flush">
                  <div class="col-md-3  text-center">
                     <div class="bg-info" style="padding:5px">
                        <em class="fa fa-fw fa-user fa-3x"></em>
                     </div>
                  </div>
                  <div class="col-md-8">
                     <div class="panel-body text-center mt0" style="color:#FFFFFF">
                        WHO'S GOT TIME TO ANALYZE AND MONITOR SO MANY SKUS ON A DAILY BASIS?
                     </div>
                  </div>
                  <div class="col-md-1">
                     <em class="fa fa-arrow-right" style="color:red;"></em>
                  </div>
               </div>
            </div>
         </div>

         <div><p class="text-white " style="font-size:20px">We developed a software to track real time when trends are happening</p></div>
         <div class="row row-flex row-flex-wrap" style="font-size:12px;" >
            <div class="col-md-4 text-center widget" style="margin-bottom:5px">
               <div class="row row-table row-flush">
                  <div class="col-md-3  text-center">
                     <div class="bg-info" style="padding:5px">
                        <em class="fa fa-fw fa-usd fa-3x"></em>
                     </div>
                     
                  </div>
                  <div class="col-md-8">
                     <div class="panel-body text-center mt0" style="color:#FFFFFF;">
                        ESTIMATE OF ALL SELLING EXPENSES*
                     </div>
                  </div>
                  <div class="col-md-1">
                     <em class="fa fa-arrow-right" style="color:red;"></em>
                  </div>
               </div>
            </div>
            <div class="col-md-4 text-center widget" style="margin-bottom:5px">
               <div class="row row-table row-flush">
                  <div class="col-md-3  text-center">
                     <div class="bg-info" style="padding:5px">
                        <em class="fa fa-fw fa-money fa-3x"></em>
                     </div>
                  </div>
                  <div class="col-md-8">
                     <div class="panel-body text-center mt0" style="color:#FFFFFF;">
                        REAL TIME PROFIT ANALYSIS
                     </div>
                  </div>
                  <div class="col-md-1">
                     <em class="fa fa-arrow-right" style="color:red;"></em>
                  </div>
               </div>
            </div>
            <div class="col-md-4 text-center widget" style="margin-bottom:5px">
               <div class="row row-table row-flush">
                  <div class="col-md-3  text-center">
                     <div class="bg-info" style="padding:5px">
                        <em class="fa fa-fw fa-calculator fa-3x"></em>
                     </div>
                  </div>
                  <div class="col-md-8">
                     <div class="panel-body text-center mt0" style="color:#FFFFFF;">
                        MONTHLY SALE PREDITIONS**
                     </div>
                  </div>
                  <div class="col-md-1">
                     <em class="fa fa-arrow-right" style="color:red;"></em>
                  </div>
               </div>
            </div>
         </div>
         <div>
            <p class="text-white " style="font-size:20px">Our software tells us real time when trends are happening marketplaces, this allows buyers process procurement on a larger scale.</p>
         </div>
      </div>
   </div>
   <div class="container container-sm">
      <img  src="<%= asset_path 'back/computer.png' %>" class="img-responsive" style="width:60%; margin:auto">
   </div>

</div>



