<!-- Main Content Header-->
        <div class="row">
          <header id="nav-header" class="clearfix">
            <div class="col-md-5">
              <nav class="navbar-default pull-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target-"#side-menu">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </nav>
              <input type="text" class="hidden-sm hidden-xs"id="header-search-field" placeholder="Search for something...">
            </div><!-- end col 5 -->
            <div class="col-md-7">
              <ul class="pull-right">
                <li id="welcome" class="hidden-xs">Welcome to your administration area</li>
                <li class="fixed-width">
                  <a href="">
                    <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                    <span class="label label-warning">3</span>
                  </a>
                </li>
                <li class="fixed-width">
                  <a href="">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <span class="label label-message">3</span>
                  </a>
                </li>
                <li>
                  <a href="" class="logout">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    log out
                  </a>
                </li>
              </ul>
            </div><!-- end col 7 -->
          </header><!-- end header -->
        </div><!-- end row -->
    <!-- End Main Content -->

      <div id="dashboard-con">
        <div class="row">
          <div class="col-md-6 dashboard-left-cell">
            <div class="admin-content-con">
              <header class="clearfix">
                <h5 class="pull-left">Articles</h5>
                <a class="btn btn-xs btn-primary pull-right" href="#" role="button">Crete new article</a>
              </header>
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>title</th>
                    <th>replies</th>
                    <th>dates</th>
                    <th>actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>This is the first post .....</td>
                    <td>15</td>
                    <td>3 days ago</td>
                    <td>
                      <a class="btn btn-xs btn-warning" href="#" role="button">edit</a>
                      <a class="btn btn-xs btn-primary" href="#" role="button">view</a>
                      <a class="btn btn-xs btn-danger" href="#" role="button">delete</a>
                    </td>
                  </tr>
                  <tr>
                    <td>This is the first post .....</td>
                    <td>15</td>
                    <td>3 days ago</td>
                    <td>
                      <a class="btn btn-xs btn-warning" href="#" role="button">edit</a>
                      <a class="btn btn-xs btn-primary" href="#" role="button">view</a>
                      <a class="btn btn-xs btn-danger" href="#" role="button">delete</a>
                    </td>
                  </tr>
                  <tr>
                    <td>This is the first post .....</td>
                    <td>15</td>
                    <td>3 days ago</td>
                    <td>
                      <a class="btn btn-xs btn-warning" href="#" role="button">edit</a>
                      <a class="btn btn-xs btn-primary" href="#" role="button">view</a>
                      <a class="btn btn-xs btn-danger" href="#" role="button">delete</a>
                    </td>
                  </tr>
                  <tr>
                    <td>This is the first post .....</td>
                    <td>15</td>
                    <td>3 days ago</td>
                    <td>
                      <a class="btn btn-xs btn-warning" href="#" role="button">edit</a>
                      <a class="btn btn-xs btn-primary" href="#" role="button">view</a>
                      <a class="btn btn-xs btn-danger" href="#" role="button">delete</a>
                    </td>
                  </tr>
                  <tr>
                    <td>This is the first post .....</td>
                    <td>15</td>
                    <td>3 days ago</td>
                    <td>
                      <a class="btn btn-xs btn-warning" href="#" role="button">edit</a>
                      <a class="btn btn-xs btn-primary" href="#" role="button">view</a>
                      <a class="btn btn-xs btn-danger" href="#" role="button">delete</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="clearfix">
                <a href="#" class="pull-right text-link">view all articles</a>
              </div>
            </div>
          </div><!-- end col-6 -->
          <div class="col-md-6 dashboard-right-cell">
            <div class="admin-content-con">
              <header>
                <h5>Comments</h5>
              </header>
              <div class="comment-head-dash clearfix">
                <div class="commenter-name-dash pull-left">Amy Artist</div>
                <div class="days-dash pull-right">2 days ago</div>
              </div>

                <p class="comment-dash">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqu.</p>
                <small class="comment-date-dash">Today 5:45pm 11/25/15</small>
                <hr>

              <div class="comment-head-dash clearfix">
                <div class="commenter-name-dash pull-left">Amy Artist</div>
                <div class="days-dash pull-right">2 days ago</div>
              </div>
              
                <p class="comment-dash">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqu.</p>
                <small class="comment-date-dash">Today 5:45pm 11/25/15</small>
                <hr>

                <div class="clearfix">
                  <a href="" class="pull-right text-link">view all comments</a>
                </div>
              
          </div><!-- end col-6 -->
        </div><!-- end row -->
        <div class="row">
          <div class="col-md-12">
            <div class="admin-content-con clearfix">
              <header>
                <h5>Commenters</h5>
              </header>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Joe Smoe</td>
                    <td>joesmoe@epicemail.com</td>
                    <td><a href="#" class="label label-default">pending</a></td>
                    <td>Today 5:25pm - 11/28/2015</td>
                    <td><a href="#" class="label label-danger">Delete</a></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Joe Smoe</td>
                    <td>joesmoe@epicemail.com</td>
                    <td><a href="#" class="label label-success">active</a></td>
                    <td>Today 5:25pm - 11/28/2015</td>
                    <td><a href="#" class="label label-danger">Delete</a></td>
                  </tr>
                    <tr>
                    <td>3</td>
                    <td>Joe Smoe</td>
                    <td>joesmoe@epicemail.com</td>
                    <td><a href="#" class="label label-success">active</a></td>
                    <td>Today 5:25pm - 11/28/2015</td>
                    <td><a href="#" class="label label-danger">Delete</a></td>
                  </tr>
                    <tr>
                    <td>4</td>
                    <td>Joe Smoe</td>
                    <td>joesmoe@epicemail.com</td>
                    <td><a href="#" class="label label-success">active</a></td>
                    <td>Today 5:25pm - 11/28/2015</td>
                    <td><a href="#" class="label label-danger">Delete</a></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div><!-- end row -->
      </div>

    <!-- Footer -->
        <div class="row">
          <footer id="admin-footer" class="clearfix">
            <div class="pull-left"><b>Copyright </b>&copy; 2015</div>
            <div class="pull-right">admin system</div>
          </footer>
        </div><!-- footer end row -->
    <!-- End Footer -->
