<div class="row">
  <div class="col-md-12">
      <div class="panel panel-default">
          <div class="panel-body">
            <div class="h4 text-center">Skynet History</div>
              <div class="row pv-lg">
                 <!--  <div class="col-lg-12">
                    <div class="panel panel-default">
                      <div class="panel-body">
                         <div class="jqgrid-responsive mb-lg">
                            <table id="jqGridSkynetList"></table>
                            <div id="jqGridSkynetListPager"></div>
                          </div>
                        </div>
                     </div>
                  </div> -->

                  <div class="table-responsive">
                     <table id="datatable_skynethistory" class="table table-striped">
                        <thead>
                           <tr>
                              <th style="width:20%">FileName</th>
                              <th style="width:25%">Vendor</th>
                              <th style="width:25%">OutPut</th>
                              <th style="width:15%">Created At</th>
                           </tr>
                        </thead>
                        <tbody></tbody>
                     </table>
                  </div>
              </div>

              
          </div>
      </div>
  </div>
</div>
